@model AirlineManagementSystem.Models.FlightDetailsModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Edit Flight Information</h4>
                        <p class="card-description">
                            Edit Flight Details...
                            <h6 style="color:green">@ViewBag.m</h6>
                        </p>
                        <form class="forms-sample" asp-controller="FlightDetail" asp-action="Edit" method="post">
                            <div class="form-group">
                                <div class="dropdown">
                                    <label asp-for="ResFrom">Plane Name</label>
                                    <select asp-for="ResFrom" class="form-control" style="color:black">
                                        <option class="dropdown-item" style="color:grey" selected>
                                            Please Select
                                        </option>
                                        <option class="dropdown-item">Delhi</option>
                                        <option class="dropdown-item">Mumbai</option>
                                        <option class="dropdown-item">Bangluru</option>
                                        <option class="dropdown-item">Pune</option>
                                        <option class="dropdown-item">Ahemdabad</option>
                                        <option class="dropdown-item">Surat</option>
                                        <option class="dropdown-item">Kerala</option>
                                        <option class="dropdown-item">Chennai</option>
                                        <option class="dropdown-item">Hydrabad</option>
                                        <option class="dropdown-item">Dubai</option>
                                        <option class="dropdown-item">Canada</option>
                                        <option class="dropdown-item">Delhi</option>
                                        <option class="dropdown-item">US</option>
                                        <option class="dropdown-item">Kolkata</option>
                                    </select>
                                </div>
                                <span asp-validation-for="ResFrom" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <div class="dropdown">
                                    <label asp-for="ResTo">Plane Name</label>
                                    <select asp-for="ResTo" class="form-control" style="color:black">
                                        <option class="dropdown-item" style="color:grey" selected>
                                            Please Select
                                        </option>
                                        <option class="dropdown-item">Delhi</option>
                                        <option class="dropdown-item">Mumbai</option>
                                        <option class="dropdown-item">Bangluru</option>
                                        <option class="dropdown-item">Pune</option>
                                        <option class="dropdown-item">Ahemdabad</option>
                                        <option class="dropdown-item">Surat</option>
                                        <option class="dropdown-item">Kerala</option>
                                        <option class="dropdown-item">Chennai</option>
                                        <option class="dropdown-item">Hydrabad</option>
                                        <option class="dropdown-item">Dubai</option>
                                        <option class="dropdown-item">Canada</option>
                                        <option class="dropdown-item">Delhi</option>
                                        <option class="dropdown-item">US</option>
                                        <option class="dropdown-item">Kolkata</option>
                                    </select>
                                </div>
                                <span asp-validation-for="ResTo" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="ResDepDate">Departure Date</label>
                                <input asp-for="ResDepDate" class="form-control" id="depdate" placeholder="Departure Date">
                                <span asp-validation-for="ResDepDate" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ResTime">Time</label>
                                <input asp-for="ResTime" class="form-control" id="seat" placeholder="Time">
                                <span asp-validation-for="ResTime" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <div class="dropdown">
                                    <label asp-for="PlaneId">Plane Name</label>
                                    @Html.DropDownListFor(model => model.PlaneId, ViewBag.PlaneList as SelectList, "Please Select", new { @class = "dropdown-item form-control" })
                                </div>
                            </div>



                            <div class="form-group">
                                <label asp-for="PlaneSeat">Plane Seat</label>
                                <input asp-for="PlaneSeat" class="form-control" id="seat" placeholder="Plane Seat">
                                <span asp-validation-for="PlaneSeat" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ResTicketPrice">Ticket Price</label>
                                <input asp-for="ResTicketPrice" class="form-control" id="ticketprice" placeholder="Price">
                                <span asp-validation-for="ResTicketPrice" class="text-danger"></span>
                            </div>

                            <div class="form-group">

                                <div class="dropdown">
                                    <label asp-for="ResPlaneType">Plane Name</label>
                                    <select asp-for="ResPlaneType" class="form-control" style="color:black">
                                        <option class="dropdown-item" style="color:grey" selected>
                                            Please Select
                                        </option>
                                        <option class="dropdown-item">Jumbo Passanger Jet</option>
                                        <option class="dropdown-item">Mid-Size Passanger Jet</option>
                                        <option class="dropdown-item">Light Passanger Jet</option>
                                        <option class="dropdown-item">Passanger Turboprops</option>
                                        <option class="dropdown-item">Cargo Airplanes</option>
                                        <option class="dropdown-item">Light Business Jet</option>
                                        <option class="dropdown-item">Mid-Size Business Jet</option>
                                        <option class="dropdown-item">Heavy Business Jet</option>

                                        <option class="">Kolkata</option>
                                    </select>
                                </div>
                                <span asp-validation-for="ResPlaneType" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <div asp-validation-summary="All"></div>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Update</button>

                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>